<p>Epoch Time: <%= Time.current.to_i %></p>
<%= turbo_frame_tag('text-container') do %>
  <%= render partial: 'homepage/text', locals: { text: @text } %>
<% end %>

<%= render partial: 'todos/new' %>

<%= turbo_frame_tag('todos-container', class: 'd-flex gap-2 mt-3') do %>
  <%= render partial: 'todos/todo', collection: @todos, as: :todo %>
<% end %>
